// ==========================================================================
// FONT VARIABLES
// ==========================================================================//

//Import Google Fonts

//Import @font-face Fonts

//Fonts
$font-family--primary: Arial, Helvetica, sans-serif;
$font-family--secondary: Arial, Helvetica, sans-serif;

//Font Weights

$lighter: 100;
$light: 300;
$font-weight--medium: 400;
$bold: 700;
$bolder: 900;

//Font Sizes

$font-size--base: 16px;

//Line Heights

$line-height--base: 1.4;
$line-height--none: 1;
$line-height--half: 1.2;
$line-height--2: 1.7;
$line-height--3: 2;