// ==========================================================================
// COLORS
// ==========================================================================//

//Custom Colors

// Common Colors
$white: #FFF;
$black: #0B0B0B;
$trueblack: #000;

// Color Usage
$color-primary: $black;
$color-secondary: $black;