// ==========================================================================
// COLORS
// ==========================================================================//

//Custom Colors
$green: #006C64;
$blue: #386D9B;

// Common Colors
$white: #FFF;
$black: #0B0B0B;
$trueblack: #000;

// Color Usage
$color-primary: $green;
$color-secondary: $blue;